@import "tailwindcss";

body {
  background-color: #000000;
  color: #ffffff;
  font-family: var(--font-poppins), sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}